USE [library]
GO
/****** Object:  StoredProcedure [dbo].[historyTBLcon]    Script Date: 11/24/2023 7:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[historyTBLcon]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	(SELECT        HistoryTBL.id, personalTBL.name, personalTBL.LastName, personalTBL.number, bookTBL.book, HistoryTBL.DateGet
FROM            personalTBL INNER JOIN
                         HistoryTBL ON personalTBL.id = HistoryTBL.IDpersonal INNER JOIN
                         bookTBL ON HistoryTBL.IDbook = bookTBL.id
	 where del='true')
END
